/* Azeret Mono font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: "Azeret Mono", monospace;
}
/* <!-- header section start --> */

header{
  


background-image: url(../assets/Hero-bg.png);
background-repeat: no-repeat;
background-position:center;
background-size: cover;
margin-bottom: 71px;

}

.header-text-container{

max-width: 998px;
height: 581px;

display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
gap: 32;
padding: 0px;
margin: 0px auto;
text-align: center;


}

.header-text-container p{
    margin: 20px auto;
    font-weight: 400;
    font-size: 16px;

}

header .btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding:20px ;
    color:white
}

/*  <!-- why i choose web development --> */
.Web-development-container{
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
max-width: 946px;
height: 1233px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 48;
padding: 0px;
text-align: center;


margin: 0px auto;
}

.Web-development-text h2{
   
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 20px;
   
   
}
.Web-development-text p{
   
    color: rgb(13, 19, 33);

font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
   
   
}

/*  */
/* Web-development-card-container */
.Web-development-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:71px ;
}
.card{
    max-width: 850px;
height: 240px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    padding:48px;
    background-color: white;
    margin-top: 45px;
}

.card-des{
    text-align: start;
}

.card-des h4{
 
font-weight:700;
font-size:16px ; 



}
.card-des p{
    color: rgb(13, 19, 33);
    width: 300px;
    font-size: 14px;
    font-weight: 400;
    margin-top:16px;
    margin-bottom: 20px;
  
}

.card-btn{
    color: rgb(13, 19, 33);

font-size: 14px;
font-weight: 600;
background-color: white;
padding:10px 20px;
text-align: center;
}

.row-reverse{
    flex-direction: row-reverse;
}

/* My Inspiration section */

.my-inspiration-container{
    max-width: 946px;
    margin: 20px auto;
    text-align: center;
}

.iframe-container{
    width: 1076px;
    margin-top: 20px;
    height: 550px;
    margin-bottom: 71px;
    
}

.iframe-container iframe{
    width:100%;
    height: 100%;
    border-radius: 16px;
}